

/*------------------------------------*\
  #LEFT SECTION (PROFILE)
\*------------------------------------*/

.profile-page-wrapper{
    display: flex;
    width: 100vw;
    margin-top: 65px;
    gap: 2em;
    position: relative;
}



.profile-left-section {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 100vh;
    padding: 1em;
    flex: 0 0 300px;
    position: sticky;
    top: var(--navbar-height);
}


.profile-info {
    border-bottom: 1px solid rgba(128, 128, 128, 0.1); 
    display: flex;
    padding: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-info .profile-image{
    aspect-ratio: 1 /1 ;
    border-radius: 50%;
    width: 120px;
    
}
/* 
.profile-left-section .profile-stats{
    display: flex;
    margin-top: 2em;
    flex-direction: row-reverse;
} */

.profile-left-section .book-shelves{
    /* border: 2px dashed; */
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    gap: 1em;
    padding: 1em;
    font-size: 1.2em;
    text-align: left;
    
}

.profile-left-section .book-shelves h5{
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    color: #708D81;
}

.profile-left-section .book-shelves > p{
    border: 1px dashed ;
    margin-top: 1em;
}

.profile-left-section .book-shelves > button{
    cursor: pointer;
    border: none;    
    background-color: inherit;
}


.profile-left-section .book-shelves > button:hover{
    cursor: pointer;
    color: #708D81;

}







/*------------------------------------*\
  #RIGHT SECTION
\*------------------------------------*/


.profile-right-section{
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    /* border: 3px solid blue; */
    gap: 2em;
    flex-grow: 1;
    padding-top: 3em;
}




.book-item{
    display: flex;
    flex: 0 1 calc(33.33% - 1.33em);
    /* border: 2px dashed black; */
    background-color : white ;
    border-radius: 1em;
    height: 200px;
    gap: 1em;
    padding: 0.7em;
    transition: 0.3s ease-in-out;



}

.book-item:hover{
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}


.book-item .image-container{
    flex: 0 0 80px;
    aspect-ratio: 3/4;
}

.book-item .image-container img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;

}


.book-item .book-desc{
    flex: 1 1 50%;
    max-height: 200px;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 3 ;
    -webkit-line-clamp: 6; /* Limits the text to 6 lines before adding ellipsis */
    -webkit-box-orient: vertical;
    position: relative;
}

.book-item .book-desc h4 {
    margin-bottom: 0;
    color: #708D81;
    font-weight: 500;

}

.book-item .book-desc p{
    color: grey;
    font-size: 0.9em;
    font-style: italic;
}


.remove-btn {
  position: absolute;
  top: 0;
  right: 0px;
  background-color: rgba(220, 0, 0, 0.25);
  color: white;
  border: none;
  border-radius: 25%;
  padding: 2px 4px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.remove-btn:hover {
  background-color: rgba(180, 0, 0, 1);
}



/*------------------------------------*\
  #RIGHT SECTION
\*------------------------------------*/


.profile-end-section{
    box-shadow: rgba(0, 0, 0, 0.15) -1.95px -1.95px 2.6px;
    height: 100vh;
    padding: 1em;
    flex: 0 0 300px;
    position: sticky;
    top: var(--navbar-height);
    overflow-y: scroll;
}

.profile-end-section h4{ 
    margin-top: 1em;
    text-align: center;
    color: #708D81;

}

.profile-end-section .profile-stats{
    margin-top: 2em;
    display: flex;
}


.profile-end-section .recommended-books {
    display: flex;
    flex-direction: column;
    gap: 2em;
    /* height: 750px; */
}



@media (max-width: 768px) {
  .book-item {
    flex: 1 1 100%; 
  }
}


@media (max-width: 992px) {
    .book-item {
        flex: 0 1 calc(50% - 1em); 
    }
}



@media (max-width: 768px) {
    .profile-page-wrapper {
        flex-direction: column; 
        margin-top: 1em;
        gap: 1em;
    }

    .profile-left-section {
        display: flex; 
        flex-direction: column;
        width: 100%;
        height: auto;
        position: relative; 
        top: 0;
        box-shadow: none;
        padding: 0.5em;
        border-bottom: 1px solid #ddd;
    }

    .profile-info {
        flex-direction: row; 
        justify-content: flex-start;
        padding: 0.5em 1em;
        gap: 1em;
        border: none;
    }

    .profile-info .profile-image {
        width: 60px; 
    }

    .profile-info h3 {
        font-size: 1.1em;
        margin-bottom: 0;
    }

    .profile-info h5 {
        font-size: 0.9em;
    }

    .profile-left-section .book-shelves {
        flex-direction: row;
        margin-top: 0.5em;
        overflow-x: auto; 
        padding-bottom: 0.5em;
        white-space: nowrap;
        justify-content: flex-start;
    }

    .profile-left-section .book-shelves h5 {
        display: none; 
    }

    .profile-left-section .book-shelves > button {
        background-color: #f2f2f2;
        padding: 0.5em 1em;
        border-radius: 1em;
        font-size: 0.9em;
    }

    .profile-right-section {
        padding-top: 0;
        padding: 0 1em;
    }

    .book-item {
        flex: 1 1 100%; 
        height: auto;
        min-height: 140px;
    }

    .profile-end-section {
        display: none; 
    }
}