/* Base styles */
.book-details-grid-container{
  display: grid;
  grid-gap: 1.5em; 
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  margin-top: 8em; 
  position: relative;
}

.book-details-left{
  grid-column-start: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em; 
}

.book-details-left img {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px; 
  margin: 0 auto;
}

.book-details-right{
  grid-column: 3 / span 2; 
  padding: 1em 0em; 
}

.book-details-right h1{
  font-size: 2.8em; 
  font-weight: 600; 
  margin-bottom: 0.1em; 
}

.book-details-right h3{
  font-size: 1.5em;
  font-weight: 400;
  color: #555; 
  margin-top: 0;
}

/* Average Ratings Section */
.book-average-ratings{
  display: flex;
  padding: 1.5em; 
  gap: 1em;
  flex-direction: column;
  grid-column: 2 / 3;
}

.book-average-ratings h2{
  font-size: 1.6em;
  margin-bottom: 0;
  font-weight: 500; 
}

.book-reviews-bottom {
  grid-column: 2/-2;
}

.book-description p {
  font-size: 1.15em; 
  line-height: 1.7; 
  margin-bottom: 1em;
  padding-bottom: 0;
}

.book-description p:last-of-type {
  font-size: 1.15em;
  font-style: italic;
  font-weight: 300;
  color: #777; 
}

.book-description .label {
  font-weight: 600;
}

.book-description a {
  text-decoration: underline;
  color: #708D81; 
}

.book-info{
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em;
  gap: 1em;
  border-left: 1px solid rgba(128, 128, 128, 0.1); 
}

.book-info p {
  margin: 0.4em 0; 
}

.book-info .label {
  font-weight: 600; 
  color: #333; 
}

.book-info-left{
  flex: 1 1 50%;
}

.book-info-right{
  flex: 1 1 50%;
}

/* ADD BOOK TO SHELF */
.dropdown {
  display: inline-block;
  margin-top: 1.5em; 
  width: 100%;
  position: relative;
}

.dropdown button {
  display: block;
  margin: 0 auto;
  width: 80%; 
  background-color: #708D81;
  color: white;
  font-weight: 500;
  padding: 0.8em 1em; 
  border: none;
  cursor: pointer;
  border-radius: 2em;
  transition: background-color 0.2s;
}

.dropdown .options {
  display: none;
  width: 100%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1); 
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px; 
  background-color: white;
  border-radius: 0.5em; 
  overflow: hidden; 
  margin-top: 0.5em;
}

.dropdown:hover  .options {
  display: block;
}

.dropdown .dropdown-options {
  display: block;
  padding: 1em;
  border-radius: unset;
  width: 100%;
  background-color: white;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); 
}

.dropdown .dropdown-options:last-child {
  border-bottom: none;
}

.dropdown .dropdown-options:hover {
  background-color: #f0f0f0; 
  color: #333;
}


/* -------------------AVERAGE---------------------- */
.average-stars-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em; 
}

.average-stars.filled {
  color: #f5b041; 
}
.average-stars {
  font-size: 2rem; 
  color: lightgray;
}

.average-header {
  font-size: 2.8rem; 
  font-weight: 600;
  margin: 0;
  color: #333;
}

.star-wrapper {
  display: flex;
  align-items: center; 
  gap: 8px;
}

.reviews-count {
  margin-top: 0.2em;
  padding: 0;
  align-self: center;
  font-size: 1em; 
  color: #777;
}

.label {
  margin-top: 8px;
  font-size: 16px;
  color: #333;
}

/* REVIEWS - ADD REVIEW FORM STYLES ONLY */
.book-reviews-bottom{
  padding: 0 1.5em; 
  margin: 1.5em 0em;
}

.book-reviews-bottom h3 {
  font-size: 1.8em;
  margin-bottom: 1em;
  border-bottom: 2px solid #708D81; 
  display: inline-block;
  padding-bottom: 0.2em;
}

.book-reviews-bottom .add-review form {
  display: flex;
  flex-direction: column;
  gap: 0.5em; 
}

.book-reviews-bottom .add-review .review-input { 
  border: 1px solid rgba(128, 128, 128, 0.2); 
  border-radius: 0.5em;
  box-shadow: none; 
  font-size: 1em;
  padding: 1em 1.5em; 
  width: 100%;
  height: 80px; 
  resize: none; 
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
}

.book-reviews-bottom .add-review .review-input:focus{
  border-color: #708D81;
  box-shadow: 0 0 0 1px #708D81; 
}

.book-reviews-bottom .add-review button {
  align-self: flex-end;
  margin-top: 0.5em;
  border: none;
  background-color: #708D81;
  color: white;
  padding: 0.8em 2em; 
  border-radius: 2em;
  font-size: 1em; 
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.book-reviews-bottom .add-review button:hover{
  background-color: #557166;
  cursor: pointer;
}


@media (max-width: 1100px) {
  .book-details-grid-container {
    display: flex; 
    flex-direction: column;
    padding: 2em;
    margin-top: 6em;
    gap: 2em;
  }
  
  .book-details-left, 
  .book-details-right, 
  .book-info, 
  .book-average-ratings, 
  .book-reviews-bottom {
    grid-column: auto; 
    width: 100%;
  }

  .book-details-left img {
    max-width: 300px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .book-details-grid-container {
    display: flex;
    flex-direction: column;
    padding: 0em 2em;
    margin-top: 4em; 
    gap: 1em;
  }

  .book-info {
    flex-direction: column;
  }

  .book-average-ratings,
  .book-details-left,
  .book-details-right,
  .book-reviews-bottom {
    width: 100%;
    grid-column: auto;
  }

  .book-details-right h1,
  .average-header {
    font-size: 2rem;
  }

  .average-stars {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .dropdown button {
    width: 100%;
  }

  .average-header {
    font-size: 1.8rem;
  }

  .book-details-right h1 {
    font-size: 2.2rem;
  }

  .book-details-right h3{
    font-size: 1.2rem;
  }

  .book-description p,
  .book-description p:last-of-type {
    font-size: 1em;
  }
}
