.rec-book {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1em;
  text-align: left;
  transition: transform var(--transition);
  text-align: center;
}

 .rec-book:hover {
  transform: translateY(-4px);
}



 .rec-book img {
  width: 70%;
  height: auto;
  margin: 0 auto;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  object-fit: cover;
}

.book-info{
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
}

.rec-book .book-info h5,
.rec-book .book-info h6{
    margin-bottom: 0;
}

.rec-book .book-info h5{
    font-size: 1.3em;
}

.rec-book .book-info h6{
    font-size: 1.1em;
    font-style: italic;
}

.book-info .checked {
  color: orange;

}